<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bw.movie">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MessiageActivity" />
        <activity android:name=".activity.AttentionActivity" />
        <activity android:name=".activity.RccordActivity" />
        <activity android:name=".activity.FeedbackActivity" />
        <activity android:name=".activity.VersionActivity" />
        <activity android:name=".activity.RemindActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.GuideActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.HandelActivity" />
        <activity android:name=".activity.CinemaInfoActivity" />
        <activity android:name=".activity.MovieDetailsActivity" />
        <activity android:name=".activity.CinemaSearchActivity" />
        <activity android:name=".activity.RegActivity" />
        <activity android:name=".activity.FeedBackSuccessActivity" />
        <activity android:name=".activity.UpdateInfoActivity"></activity>
        <activity android:name=".activity.SelectSeatActivity"></activity>
        <activity android:name=".activity.BuyTicketDetailActivity"></activity>
        <activity android:name=".activity.MovieListActivity"></activity>
        <activity android:name=".activity.BuyTicketDetailActivity"></activity>
    </application>

</manifest>